@model WebMarket.Models.Product
@inject IMainRepository _repository
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> _userManager

@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/37c897dddf.js" crossorigin="anonymous"></script>*@

@{
    var currentUser = _userManager.GetUserAsync(User).Result;

    <div class="card-footer @Model.GetTableHeaderClassString(_repository, currentUser)" id="card_on_transaction_footer">

        <h3>
            @Model.FinalPriceString
            <sup>
                @if (Model.Price != Model.FinalPrice)
                {
                    <font color="red" style="font-weight:400"><del>@Model.PriceString</del></font><sup> -@Model.DiscountSupString</sup>
                }
            </sup>
        </h3>

        @if (Model.OwnerID == currentUser?.Id || currentUser == null)
        {
            @if (Model.NonTradableMode)
            {
                <div class="float-right">
                    <form asp-controller="Catalog" asp-action="AddToCart" method="post">
                        <input type="hidden" class="form-control" name="productId" id="productId" value=@Model.ID />
                        <button class="@Model.GetAddToCartButtonClassString(_repository, currentUser) hoverable-btn" type="submit">@Model.GetAddToCartButtonString(_repository, currentUser)</button>
                    </form>
                </div>
            }
            else
            {
                <div class="float-right">
                    <button class="@Model.GetBuyButtonClassString(currentUser, false) btn-lg" type="submit" data-toggle="modal" data-target="#buyModal"
                            disabled id="card_on_transaction_buy_button">
                        Buy
                    </button>
                    <a data-toggle="modal" data-target="#infoTransactionModal"><img src="~/images/question-circle-regular_2.png" style="color:white; cursor:pointer; width:16px; height:16px"></a>
                </div>
            }
            <small class="text-warning @Model.GetProductTableLinkClassString(_repository, currentUser)">
                Added @Model.AddedDate.ToShortDateString()
            </small>
        }
        else if (!Model.IsBought(_repository, currentUser) && currentUser != null && !Model.NonTradableMode)
        {
            <div class="float-right">
                <button class="@Model.GetBuyButtonClassString(currentUser, false) btn-lg" type="submit" data-toggle="modal" data-target="#buyModal"
                        id="card_on_transaction_buy_button">
                    Buy
                </button>
            </div>
            <small class="text-warning @Model.GetProductTableLinkClassString(_repository, currentUser)">
                Added @Model.AddedDate.ToShortDateString()
            </small>
        }
        else if (currentUser != null && !Model.NonTradableMode)
        {
            <div class="float-right">
                <button class="btn btn-primary btn-lg" type="submit" data-toggle="modal" data-target="#sellModal"
                        id="card_on_transaction_sell_button">
                    Sell
                </button>
            </div>
            <br>
            <small class="text-warning @Model.GetProductTableLinkClassString(_repository, currentUser)">
                Added @Model.AddedDate.ToShortDateString()
            </small>
        }
        else
        {
            <div class="float-right">
                <form asp-controller="Catalog" asp-action="AddToCart" method="post">
                    <input type="hidden" class="form-control" name="productId" id="productId" value=@Model.ID />
                    <button class="@Model.GetAddToCartButtonClassString(_repository, currentUser) hoverable-btn" type="submit">@Model.GetAddToCartButtonString(_repository, currentUser)</button>
                </form>
            </div>
            <small class="text-warning @Model.GetProductTableLinkClassString(_repository, currentUser)">
                Added @Model.AddedDate.ToShortDateString()
            </small>
        }
    </div>

<div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="buyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buyModal">Are you sure you want to buy @Model.Name?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Price: @Model.PriceString</p>
                <p>Discount: @Model.DiscountString</p>
                <p>Final Price: @Model.FinalPriceString</p>
                <p class="text-md-left pt-3">
                    You will have:
                    <mark>@Model.GetBuyPriceSentence(currentUser)</mark>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <div class="float-right">
                    <form asp-controller="Product" asp-action="Buy" asp-route-productId="@Model.ID">
                        <button class="btn btn-success" type="submit" id="card_on_transaction_sell_button">Buy</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="sellModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sellModal">Are you sure you want to sell @Model.Name?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Price: @Model.PriceString</p>
                <p>Discount: @Model.DiscountString</p>
                <p>Final Price: @Model.FinalPriceString</p>
                <p class="text-md-left pt-3">
                    You will have:
                    <mark>@Model.GetSellPriceSentence(_repository, currentUser)</mark>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <div class="float-right">
                    <form asp-controller="Product" asp-action="Sell" asp-route-productId="@Model.ID">
                        <button class="btn btn-warning" type="submit" id="card_on_transaction_sell_button">Sell</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="infoTransactionModal" tabindex="-1" role="dialog" aria-labelledby="infoTransactionModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="infoTransactionModalLongTitle">Help | Transactions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Only authorized users can buy products. Please register on our web-page to make transactions.
                <p class="pt-4"><b>Free products:</b></p>
                <ul>
                    <li>If you want to get a free product - you can do it without authorizing, but only in case product's owner enabled that.</li>
                </ul>
            </div>
            <div class="modal-footer">
                @*<a class="btn btn-light float-left" data-dismiss="modal" data-toggle="modal" href="#infoCatalogModal">Next help</a>*@
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

}
