@using WebMarket.Models.ProductModels 
@using Microsoft.AspNetCore.Identity 

@model EditDownloadsViewModel

@inject UserManager<AppUser> _userManager
@inject IMainRepository _repository

@{
    ViewData["Title"] = "EditDownloadsView";
}

<link href="~/css/tags.css" rel="stylesheet" type="text/css" />

<script src="https://kit.fontawesome.com/37c897dddf.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

<h1>Edit</h1>

<div class="float-right">
    <div class="d-inline">
        <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Product" asp-action="OpenEditProduct"
           asp-route-prodid="@Model.ProductId">Info</a>
    </div>
    <div class="d-inline">
        <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Product" asp-action="EditImages"
           asp-route-prodid="@Model.ProductId">Images</a>
    </div>
    <div class="d-inline">
        <button type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Product" asp-action="EditTags"
                asp-route-prodid="@Model.ProductId" disabled>
            Tags
        </button>
    </div>
    <div style="padding-bottom:1em"></div>
</div>
<h4>Tags</h4>
<hr />

<partial name="~/Views/Product/_AdminWarningProductEditPartial.cshtml" for="@Model.ProductId" />

@if (Model.Successful)
{
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text">Downloads were updated successfully.</p>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditTags">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="ZipFile" class="col-sm-2 col-form-label">Product files:</label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="ZipFile" class="form-control custom-file-input">
                        <label class="custom-file-label">Choose Zip archive or single file...</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input id="submitTags" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Product" asp-action="Page" asp-route-productId="@Model.ProductId">Back to product page</a>
</div>