@model WebMarket.Models.Product
@inject Microsoft.AspNetCore.Identity.UserManager<AppUser> _userManager
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="float-right">
    <div class="d-inline">
        <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Product" asp-action="OpenEditProduct"
           asp-route-prodid="@Model.ID">Info</a>
    </div>
    <div class="d-inline">
        <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Product" asp-action="EditImages"
           asp-route-prodid="@Model.ID">Images</a>
    </div>
    <div class="d-inline">
        <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Product" asp-action="EditTags"
           asp-route-prodid="@Model.ID">Tags</a>
    </div>
    <div style="padding-bottom:1em"></div>
</div>
<h4>Product</h4>
<hr />
@if (User.IsInRole("Admin") && Model.OwnerID != _userManager.GetUserId(User))
{
    <div class="card text-white bg-warning mb-3">
        <div class="card-body">
            <h5 class="card-title">WARNING</h5>
            <p class="card-text">You can edit this product as you are in the Admin role. Note that you <b>DO NOT own</b> this product.</p>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnlyRegisteredCanComment" /> @Html.DisplayNameFor(model => model.OnlyRegisteredCanComment)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OnlyOneCommentPerUser" /> @Html.DisplayNameFor(model => model.OnlyOneCommentPerUser)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FileName" class="control-label"></label>
                <input asp-for="FileName" readonly class="form-control" />
                <span asp-validation-for="FileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddedDate" class="control-label"></label>
                <input asp-for="AddedDate" readonly class="form-control" />
                <span asp-validation-for="AddedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Version" class="control-label"></label>
                <input asp-for="Version" class="form-control"/>
                <span asp-validation-for="Version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="OwnerID" class="form-control" />
                <span asp-validation-for="OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group float-right">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">
                    Delete
                </button>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="Edit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete @Model.Name?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You will not have an ability to restore it from database. So think carefully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <form asp-controller="Product" asp-action="Delete" asp-route-deleteid="@Model.ID">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Product" asp-action="Page">Back to List</a>
</div>

