@using Microsoft.AspNetCore.Identity
@using WebMarket.Data
@using WebMarket.Models.ProductModels

@model Product
@inject IMainRepository _repository
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment _hostingEnvironment
@inject UserManager<AppUser> _userManager

@{
    ViewData["Title"] = "Product page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="~/css/comments.css" rel="stylesheet" type="text/css" />
<link href="~/css/images.css" rel="stylesheet" type="text/css" />
<link href="~/css/ratingtable.css" rel="stylesheet" type="text/css" />

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<style>
    .checked {
        color: orange;
    }

    .not-checked {
        color: #ddd;
    }
</style>

@{
    var currentUser = _userManager.GetUserAsync(User).Result;

    @if (Model.OwnerID != currentUser?.Id)
    {
        <div class="float-right">
            <h2>@currentUser?.MoneyString</h2>
        </div>
    }
    <h1>@Model.Name</h1>
    <br>


    @if (Model.OwnerID == currentUser?.Id || User.IsInRole("Admin"))
    {
        <div style="padding-bottom:1em"></div>
        <form class="d-inline" asp-controller="Product" asp-action="OpenEditProduct" method="post">
            <div class="d-inline">
                <input type="hidden" class="form-control" name="prodId" value="@Model.ID" />
                <button type="submit" class="btn btn-primary">Edit Product</button>
            </div>
        </form>
        <div class="d-inline">
            <a type="button" class="btn btn-primary" asp-controller="Product" asp-action="EditPage">Edit Page</a>
        </div>
    }
    <div style="padding-bottom:1em"></div>


    <div class="float-left" style="padding-right:2em">
        <div class="card bg-light mb-3" style="max-width: 28rem;">
            <div class="card-body">
                <h5 class="card-title">About</h5>
                @if (Model.OwnerID == currentUser?.Id)
                {
                    <p class="card-text">Owner: <b>You</b></p>
                }
                else
                {
                    var name = await _userManager.FindByIdAsync(Model.OwnerID);
                    <p class="card-text">Owner: <b>@name?.UserName</b></p>
                }
                <p>Added at: <b>@Model.AddedDate.ToShortDateString()</b></p>
                <hr />
                @if (Model.Link != null)
                {
                    <a href="@Model.Link" class="btn btn btn-primary">Link</a>
                }
                <hr />
                @if (Model.Version != null)
                {
                    <p class="card-text"><b>Current version: @Model.Version</b></p>
                }
                else
                {
                    <p class="card-text"><b>Current version: 1.0.0</b></p>
                }
                <p></p>
                @if ((Model.IsBought(_repository, currentUser) || Model.OwnerID == currentUser?.Id || User.IsInRole("Admin")) && Model.FileName?.Length > 0)
                {
                    <a class="card-link btn btn-primary" href="~/file/@Model.FileName" download>Download</a>
                    <p class="card-text pt-2 text-muted">Size: @Model.FormatFileSize(_hostingEnvironment)</p>
                }
            </div>
        </div>
    </div>

    <div class="card h-100 hoverable-card" id="card_on_transaction">
        <div class="card-header @Model.GetTableHeaderClassString(_repository, currentUser)" id="card_on_transaction_header">
            <h5 style="font-weight:300">@Model.Type</h5>
        </div>
        <partial name="~/Views/Product/_ProductImageCarouselPartial.cshtml" model='@new ProductImageCarouselViewModel(Model, "catalog-buy")' />
        <partial name="~/Views/Product/_CardBodyPartial.cshtml" model="@Model" />
        <partial name="~/Views/Product/_CardFooterPartial.cshtml" model="@Model" />
    </div>
    if (!Model.OnlyRegisteredCanComment && Model.OwnerID != currentUser?.Id)
    {
        @*<form asp-controller="Catalog" asp-action="AddComment" method="post">
            <div class="form-group">
                <label for="commentSection">Your comment:</label>
                <textarea class="form-control" maxlength="255" name="commentSection" id="commentSection" rows="3" placeholder="Enter comment"></textarea>
                <input type="hidden" class="form-control" name="ModelID" id="ModelID" value=@Model.ID />
                <fieldset class="rating" name="rating-field" id="rating-field" style="float:right">
                    <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>*@
        <partial name="~/Views/Product/_AddCommentSectionPartial.cshtml" for="@Model" />
    }
    <div class="col col-sm-12 col-md-12 col-lg-6" style="padding-top: 2rem;">
        <div class="card h-100 hoverable-card" id="card_on_transaction">
            <partial name="~/Views/Product/_RatingTablePartial.cshtml" model="@new ProductRatingTableViewModel(Model)" />
            <partial name="~/Views/Product/_CommentSectionPartial.cshtml" for="@Model" />
        </div>
    </div>
}

@section Scripts
{
    <script>

        $(document).ready(function() {
            $($(".lbar").get().reverse()).each(function (index, element) {
                $(element).width(getFinalWidth(index+1)*100 + '%');
            });
        });

        function getFinalWidth(index) {
            switch (index) {
                case 1: return @Model?.GetStarsPercent(1, _repository);
                case 2: return @Model?.GetStarsPercent(2, _repository);
                case 3: return @Model?.GetStarsPercent(3, _repository);
                case 4: return @Model?.GetStarsPercent(4, _repository);
                case 5: return @Model?.GetStarsPercent(5, _repository);
            }
        };

    </script>
}

