@model CatalogViewModel
@{
    ViewData["Title"] = "Buying";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="~/css/comments.css" rel="stylesheet" type="text/css" />
<link href="~/css/images.css" rel="stylesheet" type="text/css" />
<link href="~/css/ratingtable.css" rel="stylesheet" type="text/css" /> 

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>

    $(document).ready(function() {
        $($(".lbar").get().reverse()).each(function (index, element) {
            $(element).width(getFinalWidth(index+1)*100 + '%');
        });
    });

    function getFinalWidth(index) {
        switch (index) {
            case 1: return @CatalogViewModel.GetSelectedBuyProduct()?.GetStarsPercent(1);
            case 2: return @CatalogViewModel.GetSelectedBuyProduct()?.GetStarsPercent(2);
            case 3: return @CatalogViewModel.GetSelectedBuyProduct()?.GetStarsPercent(3);
            case 4: return @CatalogViewModel.GetSelectedBuyProduct()?.GetStarsPercent(4);
            case 5: return @CatalogViewModel.GetSelectedBuyProduct()?.GetStarsPercent(5);
        }
    };

</script>
<style>
    .checked {
        color: orange;
    }

    .not-checked {
        color: #ddd;
    }
</style>

<div class="float-right">
    <h2>@CatalogViewModel.CurrentUser.MoneyString</h2>
</div>
<h1>Buying</h1>
<br>
@{
    var product = CatalogViewModel.GetSelectedBuyProduct();

    <div class="float-left" style="padding-right:2em">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">About</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Characteristics</div>
            <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <ul>
                    <li>
                        first characteristic
                    </li>
                    <li>
                        second characteristic
                    </li>
                    <li>
                        third characteristic
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card h-100 hoverable-card" id="card_on_transaction">
        <div class="card-header @product.GetTableHeaderClassString()" id="card_on_transaction_header">
            <h5 style="font-weight:300">@product.Type</h5>
        </div>
        <div style="transform:rotate(0);">
            @*<a href="@product.Link" class="stretched-link">
                    <img src="@product.GetCardImageSrc()" alt="Cat Lawyer Is Real And He Is Everything Right Now | Above the Law" class="card-img-top">
                </a>*@
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 catalog-img catalog-buy" src="@product.GetFirstImageSrc()" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 catalog-img catalog-buy" src="@product.GetSecondImageSrc()" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 catalog-img catalog-buy" src="@product.GetThirdImageSrc()" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="card-body" style="transform:rotate(0);">
            <h4 class="card-title">
                @product.Name
            </h4>
            <div class="overflower" aria-hidden="true">
                <p class="card-text card-description">@product.Description</p>
            </div>

            @*<a href="@product.Link" class="stretched-link"></a>*@
        </div>

        <div class="card-footer @product.GetTableHeaderClassString()" id="card_on_transaction_footer">

            @*<div class="float-right">*@
            <h3>
                @product.FinalPriceString
                <sup>
                    @if (product.Price != product.FinalPrice)
                    {
                        <font color="red" style="font-weight:400"><del>@product.PriceString</del></font><sup> -@product.DiscountSupString</sup>
                    }
                </sup>
            </h3>

            <div class="float-right">
                <form asp-controller="Catalog" asp-action="BuyProduct" method="post">
                    <input type="hidden" class="form-control" name="productName" id="productName" value=@product.Name />
                    <input type="hidden" class="form-control" name="productID" id="productID" value=@product.ID />
                    <button class="@CatalogViewModel.GetBuyProductButtonClassString() btn-lg" type="submit" id="card_on_transaction_buy_button">Buy</button>
                </form>
            </div>
            <br>
            <p class="text-md-left">
                You will have:
                <mark>@CatalogViewModel.GetSelectedBuyProductPriceSentence()</mark>
            </p>
            <small class="text-warning @product.GetProductTableLinkClassString()">
                Added @product.AddedDate.ToShortDateString()
            </small>

        </div>
    </div>
    if (!product.OnlyRegisteredCanComment)
    {
        <form asp-controller="Catalog" asp-action="AddComment" method="post">
            <div class="form-group">
                <label for="commentSection">Your comment:</label>
                <textarea class="form-control" maxlength="255" name="commentSection" id="commentSection" rows="3" placeholder="Enter comment"></textarea>
                <input type="hidden" class="form-control" name="productID" id="productID" value=@product.ID />
                <fieldset class="rating" name="rating-field" id="rating-field" style="float:right">
                    <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                </fieldset>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>

        //await Html.PartialAsync("_AddCommentPartial", new ViewDataDictionary(ViewData) { { "id", product.ID } });
        //<partial name=""_AddCommentPartial" view-data="product.ID.ToString()"/>
        //await Html.PartialAsync("_AddCommentPartial", product.ID.ToString());

        //<h1>Pure CSS Star Rating Widget</h1>
    }
    <div class="col col-sm-12 col-md-12 col-lg-6" style="padding-top: 2rem;">
        <div class="card h-100 hoverable-card" id="card_on_transaction">
            <div class="card-header @product.GetTableHeaderClassString()" id="card_on_transaction_header">
                <h5 style="font-weight:300">What people think about <strong>@product.Name</strong></h5>
                <p>RATE: @product.GetRate()</p>
                @for (int i = 0; i < 5; i++)
                {
                    if (ComparisonViewModel.GetStarsValue(product) >= i + 1)
                    {
                        <i class="fa fa-star checked"></i>
                    }
                    else
                    {
                        <i class="fa fa-star not-checked"></i>
                    }
                }
                <div id="left-rating-table">
                    <div class="row">
                        <div class="side left">
                            <div>5 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-5 lbar" id="lbar-5"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>@product.GetStarsCount(5)</div>
                        </div>
                        <div class="side left">
                            <div>4 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-4 lbar" id="lbar-4"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>@product.GetStarsCount(4)</div>
                        </div>
                        <div class="side left">
                            <div>3 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-3 lbar" id="lbar-3"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>@product.GetStarsCount(3)</div>
                        </div>
                        <div class="side left">
                            <div>2 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-2 lbar" id="lbar-2"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>@product.GetStarsCount(2)</div>
                        </div>
                        <div class="side left">
                            <div>1 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-1 lbar" id="lbar-1"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>@product.GetStarsCount(1)</div>
                        </div>
                    </div>
                </div>
                <p class="text-center text-muted"><small><i>from total amount of <b>@product.GetTotalCountOfNotNulledComments()</b> rated comments</i></small></p>
            </div>
            <div class="card-body" style="transform:rotate(0);">
                @{
                    if (product.Comments != null)
                    {
                        foreach (var comment in product.Comments)
                        {
                            <p><strong>@WebMarket.Data.Userbase.GetUsername(comment.UserID)</strong></p>
                            <p>@comment.Text</p>
                            if (comment.Rate > 0f)
                            {
                                for (int i = 0; i < 5; i++)
                                {
                                    if (comment.Rate > i)
                                    {
                                        <i class="fa fa-star checked"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-star not-checked"></i>
                                    }
                                }
                            }
                            <hr />
                        }
                    }
                    else
                    {
                        <p><strong>We can't render comments as this product don't have any...</strong></p>
                    }
                }
            </div>

        </div>
    </div>
}
