@model CatalogViewModel
@{
    ViewData["Title"] = "Catalog";
}

@*<script>
    function onCardClick(cardIndex) {
        const card = document.getElementById("card_" + cardIndex);
        if (card.click())
    }
</script>*@

<style>

    .card-description {
        /*white-space: nowrap;*/
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 100px;
    }

    /*https://www.kizu.ru/flexible-overflow/*/
    .overflower {
        /*display: block;*/
        /*overflow: auto;*/
        /*box-sizing: border-box;*/
        /*max-width: 100%;
        height: 1em;
        line-height: 1em;
        white-space: nowrap;
        text-overflow: ellipsis;*/
    }

    .overflower-long {
        display: inline;
    }

    .overflower-short {
        display: none;
    }

    @@supports (flex-wrap: wrap) {
        .overflower {
            display: inline-flex;
            flex-wrap: wrap;
        }

        .overflower-short {
            display: block;
            overflow: hidden;

            flex-grow: 1;
            width: 0;

            text-overflow: ellipsis;
        }

        .overflower-long {
            flex-basis: 100%;
        }
    }
</style>

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1>
</div>

<div class="float-right">
    <h2>@CatalogViewModel.CurrentUser.MoneyString</h2>
</div>
<div style="padding-bottom:1em"></div>
<div class="d-inline" @*style="padding-bottom:1em"*@>
    <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#addButtonCollapse" aria-expanded="false" aria-controls="addButtonCollapse">Add Product</button>
</div>
<div class="d-inline" @*style="padding-bottom:1em"*@>
    <button type="button" class="@CatalogViewModel.GetBuyProductButtonClassString()" data-toggle="collapse" data-target="#buyProductCollapse" aria-expanded="false" aria-controls="buyProductCollapse">Buy Product</button>
</div>
<div class="d-inline" @*style="padding-bottom:1em"*@>
    <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#sellProductCollapse" aria-expanded="false" aria-controls="sellProductCollapse">Sell Product</button>
</div>
<div style="padding-bottom:1em"></div>

@*Add a product div container*@
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="addButtonCollapse">
            <h2 class="display-4 text-center">Adding</h2>
            <div class="card card-body">

                <form asp-controller="Catalog" asp-area="" asp-action="AddProduct" method="post">

                    <div class="form-group">
                        <label for="productName">Product name</label>
                        <input type="text" class="form-control" name="productName" id="productName" placeholder="Enter product name" required />
                    </div>

                    <div class="form-group col-md-4">
                        <label for="productType">Type</label>
                        <select name="productType" id="productType" class="form-control">
                            <option selected>Choose type</option>
                            <option>Game</option>
                            <option>Software</option>
                        </select>
                    </div>

                    <div class="form-row">
                        <div class="col-auto">
                            <label for="productCost">Cost</label>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" name="productCost" id="productCost" placeholder="10.99" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">€</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="productDiscount">Discount</label>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" name="productDiscount" id="productDiscount" placeholder="20" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">%</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="productDescription">Product Description</label>
                        <textarea class="form-control" maxlength="255" name="productDescription" id="productDescription" rows="3" placeholder="Enter product description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="productImageLink">Product Image link</label>
                        <input type="text" class="form-control" name="productImageLink" id="productImageLink" placeholder="Enter product image link" />
                    </div>

                    <div class="form-group">
                        <label for="productLink">Product link</label>
                        <input type="text" class="form-control" name="productLink" id="productLink" placeholder="Enter product link" />
                    </div>

                    <button class="btn btn-success" type="submit">Submit product</button>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="buyProductCollapse">
            <h2 class="display-4 text-center">Buying</h2>
            <div class="card card-body">
                <form asp-controller="Catalog" asp-area="" asp-action="BuyProduct" method="post">
                    <div class="form-group">
                        <label for="productName">Product name</label>
                        <input type="text" class="form-control" name="productName" id="productName" placeholder="Enter product name" value="@CatalogViewModel.GetSelectedBuyProductName()" required />
                    </div>
                    <button class="@CatalogViewModel.GetSubmitBuyingButtonClassString()" type="submit">
                        @CatalogViewModel.GetSubmitBuyingButtonText()
                    </button>
                </form>
                <p class="text-md-right">
                    <mark>@CatalogViewModel.GetSelectedBuyProductPriceSentence()</mark>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="sellProductCollapse">
            <h2 class="display-4 text-center">Selling</h2>
            <div class="card card-body">
                <form asp-controller="Catalog" asp-area="" asp-action="SellProduct" method="post">
                    <div class="form-group">
                        <label for="productName">Product name</label>
                        <input type="text" class="form-control" name="productName" id="productName" placeholder="Enter product name" value="@CatalogViewModel.GetSelectedSellProductName()" required />
                    </div>
                    <button class="btn btn-success" type="submit">
                        @CatalogViewModel.GetSubmitSellingButtonText()
                    </button>
                </form>
                <p class="text-md-right">
                    <mark>@CatalogViewModel.GetSelectedSellProductPriceSentence()</mark>
                </p>
            </div>
        </div>
    </div>
</div>

<div style="padding-bottom:1em"></div>



@switch (CatalogViewModel.ViewVariant)
{
    case CatalogViewModel.CatalogViewVariant.Table:
        {
            <table class="table table-light table-striped table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Add</th>
                        <th scope="col">
                            <a class="text-dark" asp-area="" asp-controller="Catalog" asp-action="SortByName">
                                Product Name
                                <i class="fas fa-sort ml-1"></i>
                            </a>
                        </th>
                        <th scope="col">
                            <a class="text-dark" asp-area="" asp-controller="Catalog" asp-action="SortByType">
                                Type
                                <i class="fas fa-sort ml-1"></i>
                            </a>
                        </th>
                        <th scope="col">
                            <a class="text-dark" asp-area="" asp-controller="Catalog" asp-action="SortByPrice">
                                Price
                                <i class="fas fa-sort ml-1"></i>
                            </a>
                        </th>
                        <th scope="col">
                            <a class="text-dark" asp-area="" asp-controller="Catalog" asp-action="SortByDiscount">
                                Discount
                                <i class="fas fa-sort ml-1"></i>
                            </a>
                        </th>
                        <th scope="col">
                            <a class="text-dark" asp-area="" asp-controller="Catalog" asp-action="SortByFinalPrice">
                                Final
                                <i class="fas fa-sort ml-1"></i>
                            </a>
                        </th>
                        <th scope="col">
                            <a class="text-dark">
                                Link
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < CatalogViewModel.ListOfProducts.Count; i++)
                    {
                        string tdClassString = CatalogViewModel.ListOfProducts[i].GetPriceTableClassString();
                        string buttonClassString = CatalogViewModel.ListOfProducts[i].GetAddToCartButtonClassString();
                        var linkClass = CatalogViewModel.ListOfProducts[i].GetProductTableLinkClassString();
                        var thClass = CatalogViewModel.ListOfProducts[i].GetTableHeaderClassString();
                        <tr>
                            <th scope="row" class="@thClass">@i</th>
                            <th scope="row" class="@thClass">
                                <form asp-controller="Catalog" asp-action="AddToCart" method="post">
                                    <input type="hidden" class="form-control" name="productName" id="productName" value=@CatalogViewModel.ListOfProducts[i].Name />
                                    <input type="hidden" class="form-control" name="productIndex" id="productIndex" value=@i />
                                    @*<a class="text-dark" name="productName" asp-area="" asp-controller="Catalog" asp-action="AddToCart">
                                            @CatalogViewModel.ListOfProducts[i].IsBoughtString
                                        </a>*@
                                    <button class="@CatalogViewModel.ListOfProducts[i].GetAddToCartButtonClassString()" type="submit">@CatalogViewModel.ListOfProducts[i].IsBoughtString</button>
                                </form>
                            </th>
                            <td class="@tdClassString">
                                @CatalogViewModel.ListOfProducts[i].Name
                            </td>
                            <td class="@tdClassString">
                                @CatalogViewModel.ListOfProducts[i].Type
                            </td>
                            <td class="@tdClassString">
                                @CatalogViewModel.ListOfProducts[i].PriceString
                            </td>
                            <td class="@tdClassString">
                                @CatalogViewModel.ListOfProducts[i].DiscountString
                            </td>
                            <td class="@tdClassString">
                                @CatalogViewModel.ListOfProducts[i].FinalPriceString
                            </td>
                            <td class="@tdClassString">
                                <a href=@CatalogViewModel.ListOfProducts[i].Link class="@linkClass">
                                    <ins><strong>@CatalogViewModel.ListOfProducts[i].LinkTableString</strong></ins>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            break;
        }
    case CatalogViewModel.CatalogViewVariant.Main:
        {
            <div class="row row-cols-1 row-cols-md-3">
                @for (int i = 0; i < CatalogViewModel.ListOfProducts.Count; i++)
                {
                    var product = CatalogViewModel.ListOfProducts[i];
                    string tdClassString = product.GetPriceTableClassString();
                    string buttonClassString = product.GetAddToCartButtonClassString();
                    var linkClass = product.GetProductTableLinkClassString();
                    var thClass = product.GetTableHeaderClassString();
                <div class="col col-lg-4" id="card_@i" style="padding-bottom: 2rem;">
                    @*<a href="@product.Link" class="text-dark ">*@
                        <div class="card h-100">
                            <div class="card-header @product.GetTableHeaderClassString()">
                                <h5 style="font-weight:300">@product.Type</h5>
                            </div>
                            <div style="transform:rotate(0);">
                                <a href="@product.Link" class="stretched-link">
                                <img src="@product.GetCardImageSrc()" alt="Cat Lawyer Is Real And He Is Everything Right Now | Above the Law" class="card-img-top">
                                </a>
                            </div>
                            <div class="card-body" style="transform:rotate(0);">
                                <h4 class="card-title">
                                    @product.Name
                                </h4>
                                <div class="overflower" aria-hidden="true">
                                    <p class="card-text card-description">@product.Description</p>
                                </div>
                                @*<small class="@linkClass">
                                         Link:
                                         <a href="@product.Link">
                                             @product.Link
                                         </a>
                                      </small>*@
                                <a href="@product.Link" class="stretched-link"></a>
                            </div>

                            <div class="card-footer @product.GetTableHeaderClassString()">

                                @*<div class="float-right">*@
                                <h3>
                                    @product.FinalPriceString
                                    <sup>
                                        @if (product.Price != product.FinalPrice)
                                        {
                                            <font color="red" style="font-weight:400"><del>@product.PriceString</del></font><sup> -@product.DiscountSupString</sup>
                                        }
                                    </sup>
                                </h3>
                                @*<h2>@CatalogViewModel.CurrentUser.MoneyString</h2>*@
                                @*<form asp-controller="Catalog" asp-action="OpenProductWindow" method="post">
                        <input type="hidden" class="form-control" name="productName" id="productName" value=@product.Name />
                        <input type="hidden" class="form-control" name="productIndex" id="productIndex" value=@i />
                        <button class="@product.GetAddToCartButtonClassString()" type="submit">Open</button>
                    </form>
                                *@
                                @*</div>*@
                                <div class="float-right">
                                    <form asp-controller="Catalog" asp-action="AddToCart" method="post">
                                        <input type="hidden" class="form-control" name="productName" id="productName" value=@product.Name />
                                        <input type="hidden" class="form-control" name="productIndex" id="productIndex" value=@i />
                                        <button class="@product.GetAddToCartButtonClassString()" type="submit">@product.IsBoughtString</button>
                                    </form>
                                </div>
                                <small class="text-warning @product.GetProductTableLinkClassString()">
                                    Added @product.AddedDate.ToShortDateString()
                                </small>

                            </div>
                        </div>
                    @*</a>*@
                </div>
                }
            </div>
            break;
        }
}

<div style="padding-bottom:1em"></div>
<div class="d-inline" @*style="padding-bottom:1em"*@>
    <form asp-controller="Catalog" asp-action="ChangeView" method="post">
        <input type="hidden" class="form-control" name="viewVariant" id="viewVariant" value=@CatalogViewModel.ViewVariant />
        @*<a class="text-dark" name="productName" asp-area="" asp-controller="Catalog" asp-action="AddToCart">
                @CatalogViewModel.ListOfProducts[i].IsBoughtString
            </a>*@
        <button type="submit" class="btn btn-outline-primary">Change View</button>
    </form>
</div>