@model CatalogViewModel
@{
    ViewData["Title"] = "Catalog";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

@*<div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="">First column</a>
            </div>
            <div class="col-sm">
                <a href="">Second column</a>
            </div>
            <div class="col-sm">
                <a href="">Third column</a>
            </div>
        </div>
    </div>*@

<div style="padding-bottom:1em">
    <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#addButtonCollapse" aria-expanded="false" aria-controls="addButtonCollapse">Add Product</button>
</div>

@*Add a product div container*@
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="addButtonCollapse">
            <div class="card card-body">

                <form asp-controller="Catalog" asp-area="" asp-action="AddProduct" method="post">

                    <div class="form-group">
                        <label for="productName">Product name</label>
                        <input type="text" class="form-control" name="productName" id="productName" placeholder="Enter product name" required />
                    </div>

                    <div class="form-group col-md-4">
                        <label for="productType">Type</label>
                        <select name="productType" id="productType" class="form-control">
                            <option selected>Choose type</option>
                            <option>Game</option>
                            <option>Software</option>
                        </select>
                    </div>

                    <div class="form-row">
                        <div class="col-auto">
                            <label for="productCost">Cost</label>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" name="productCost" id="productCost" placeholder="10.99" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">€</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <label for="productDiscount">Discount</label>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" name="productDiscount" id="productDiscount" placeholder="20" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">%</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="productLink">Product link</label>
                        <input type="text" class="form-control" name="productLink" id="productLink" placeholder="Enter product link"/>
                    </div>

                    <button class="btn btn-success" type="submit">Submit product</button>

                </form>

            </div>
        </div>
    </div>
</div>

<table class="table table-light table-striped table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <a class="text-dark" asp-area="" asp-controller="Catalog" asp-action="SortByName">Product Name
                    <i class="fas fa-sort ml-1"></i>
                </a>
            </th>
            <th scope="col">
                <a class="text-dark" asp-area="" asp-controller="Catalog" asp-action="SortByType">Type
                    <i class="fas fa-sort ml-1"></i>
                </a>
            </th>
            <th scope="col">
                <a class="text-dark" asp-area="" asp-controller="Catalog" asp-action="SortByPrice">Price
                    <i class="fas fa-sort ml-1"></i>
                </a>
            </th>
            <th scope="col">
                <a class="text-dark" asp-area="" asp-controller="Catalog" asp-action="SortByDiscount">Discount
                    <i class="fas fa-sort ml-1"></i>
                </a>
            </th>
            <th scope="col">
                <a class="text-dark" asp-area="" asp-controller="Catalog" asp-action="SortByFinalPrice">Final
                    <i class="fas fa-sort ml-1"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
       @for (int i = 0; i < CatalogViewModel.ListOfProducts.Count; i++)
        {
            <tr>
                <th scope="row">@i</th>
                <td class=@CatalogViewModel.ListOfProducts[i].GetPriceTableClassString()>
                    @CatalogViewModel.ListOfProducts[i].Name
                </td>
                <td class=@CatalogViewModel.ListOfProducts[i].GetPriceTableClassString()>
                    @CatalogViewModel.ListOfProducts[i].Type
                </td>
                <td class=@CatalogViewModel.ListOfProducts[i].GetPriceTableClassString()>
                    @CatalogViewModel.ListOfProducts[i].PriceString
                </td>
                <td class=@CatalogViewModel.ListOfProducts[i].GetPriceTableClassString()>
                    @CatalogViewModel.ListOfProducts[i].DiscountString
                </td>
                <td class=@CatalogViewModel.ListOfProducts[i].GetPriceTableClassString()>
                    @CatalogViewModel.ListOfProducts[i].FinalPriceString
                </td>
            </tr>
        }
    </tbody>
</table>
