@model CatalogViewModel
@inject IProductRepository _prodRepository 
@{
    ViewData["Title"] = "Selling";
}

<link href="~/css/comments.css" rel="stylesheet" type="text/css" />

<div class="float-right">
    <h2>@CatalogViewModel.CurrentUser.MoneyString</h2>
</div>
<h1>Selling</h1>
<br>
@{
    var product = CatalogViewModel.GetSelectedSellProduct(_prodRepository);

    <div class="float-left" style="padding-right:2em">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">About</div>
            <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Characteristics</div>
            <div class="card-body">
                <h5 class="card-title">Dark card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <ul>
                    <li>
                        first characteristic
                    </li>
                    <li>
                        second characteristic
                    </li>
                    <li>
                        third characteristic
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card h-100 hoverable-card" id="card_on_transaction">
        <div class="card-header @product.GetTableHeaderClassString()" id="card_on_transaction_header">
            <h5 style="font-weight:300">@product.Type</h5>
        </div>
        <div style="transform:rotate(0);">
            <a href="@product.Link" class="stretched-link">
                <img src="@product.GetCardImageSrc()" alt="Cat Lawyer Is Real And He Is Everything Right Now | Above the Law" class="card-img-top">
            </a>
        </div>
        <div class="card-body" style="transform:rotate(0);">
            <h4 class="card-title">
                @product.Name
            </h4>
            <div class="overflower" aria-hidden="true">
                <p class="card-text card-description">@product.Description</p>
            </div>
        </div>

        <div class="card-footer @product.GetTableHeaderClassString()" id="card_on_transaction_footer">

            @*<div class="float-right">*@
            <h3>
                @product.FinalPriceString
                <sup>
                    @if (product.Price != product.FinalPrice)
                    {
                        <font color="red" style="font-weight:400"><del>@product.PriceString</del></font><sup> -@product.DiscountSupString</sup>
                    }
                </sup>
            </h3>

            <div class="float-right">
                <form asp-controller="Catalog" asp-action="SellProduct" method="post">
                    <input type="hidden" class="form-control" name="productName" id="productName" value=@product.Name />
                    <input type="hidden" class="form-control" name="productID" id="productID" value=@product.ID />
                    <button class="btn btn-primary btn-lg" type="submit" id="card_on_transaction_sell_button">Sell</button>
                </form>

                <a class="card-link" href="~/file/Screenshot_1.png" download>Download link</a>
            </div>
            <br>
            <p class="text-md-left">
                You will have:
                <mark>@CatalogViewModel.GetSelectedSellProductPriceSentence(_prodRepository)</mark>
            </p>
            <small class="text-warning @product.GetProductTableLinkClassString()">
                Added @product.AddedDate.ToShortDateString()
            </small>

        </div>
    </div>

    <form asp-controller="Catalog" asp-action="AddComment" method="post">
        <div class="form-group">
            <label for="commentSection">Your comment:</label>
            <textarea class="form-control" maxlength="255" name="commentSection" id="commentSection" rows="3" placeholder="Enter comment"></textarea>
            <input type="hidden" class="form-control" name="productID" id="productID" value=@product.ID />
            <fieldset class="rating" name="rating-field" id="rating-field" style="float:right">
                <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good - 4 stars"></label>
                <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh - 3 stars"></label>
                <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Sucks big time - 1 star"></label>
                <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
            </fieldset>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
}

