@model CatalogViewModel
@{
    ViewData["Title"] = "Catalog";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

@*<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="">First column</a>
        </div>
        <div class="col-sm">
            <a href="">Second column</a>
        </div>
        <div class="col-sm">
            <a href="">Third column</a>
        </div>
    </div>
</div>*@

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Type</th>
            <th scope="col">Cost</th>
            <th scope="col">Discount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Rome: Total War</td>
            <td>Game</td>
            <td>15.99€</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Gears 5</td>
            <td>Game</td>
            <td>69.99€</td>
            <td>5%</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Heroes® of Might & Magic® III - HD Edition</td>
            <td>Game</td>
            <td>14,99€</td>
            <td>0%</td>
        </tr>
        <tr>
            <th scope="row">@Model.Products[0].ProductIndex</th>
            <td>@Model.Products[0].ProductName</td>
            <td>@Model.Products[0].ProductType</td>
            <td>@Model.Products[0].CostIntegral.@Model.Products[0].CostFractional€</td>
            <td>@Model.Products[0].Discount%</td>
        </tr>
    </tbody>
</table>
