@using WebMarket.Models.ProductModels
@using WebMarket.Models.AppUserModels
@using Microsoft.AspNetCore.Identity  

@model BoughtProductsViewModel
@inject IMainRepository _repository
@inject UserManager<AppUser> _userManager

@{
    ViewData["Title"] = "Bought";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="~/css/images.css" rel="stylesheet" type="text/css" />

<script src="https://kit.fontawesome.com/37c897dddf.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

<h1>Bought Products</h1>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" asp-controller="AppUser" asp-action="Account">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="AppUser" asp-action="Stats">Stats</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="AppUser" asp-action="Added">Added Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Bought Products</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="float-right">
            <a type="button" class="btn btn-outline-primary" asp-controller="AppUser" asp-action="ChangeBoughtView">Change View</a>
        </div>
        <h5 class="card-title pb-2">Here are the products that you have bought:</h5>
        @if (WebMarket.Models.AppUserModels.BoughtProductsViewModel.ViewVariant == CatalogViewModel.CatalogViewVariant.Main)
        {
            if (Model.BoughtProducts.Any())
            {
                <table class="table table-light table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                <a class="text-dark" asp-area="" asp-controller="AppUser" asp-action="BoughtSorted" asp-route-sortOptionIndex="1">
                                    Product Name
                                    <i class="fas fa-sort ml-1"></i>
                                </a>
                            </th>
                            <th scope="col">
                                <a class="text-dark" asp-area="" asp-controller="AppUser" asp-action="BoughtSorted" asp-route-sortOptionIndex="2">
                                    Type
                                    <i class="fas fa-sort ml-1"></i>
                                </a>
                            </th>
                            <th scope="col">
                                <a class="text-dark" asp-area="" asp-controller="AppUser" asp-action="BoughtSorted" asp-route-sortOptionIndex="3">
                                    Added Date
                                    <i class="fas fa-sort ml-1"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.BoughtProducts)
                        {
                            <tr>
                                <td class="thead-light">
                                    @product.Name
                                </td>
                                <td class="thead-light">
                                    @product.Type
                                </td>
                                <td class="thead-light">
                                    @product.AddedDate
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <h4 class="text-center">You have not bought anything yet!</h4>
            }

        }
        else
        {
            if (Model.BoughtProducts.Any())
            {
                <div class="container-fluid">
                    <div class="row row-cols-1 row-cols-md-3">
                        @foreach (var product in Model.BoughtProducts)
                        {
                            <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-4" style="padding-bottom: 2rem;">
                                <div class="card h-100 hoverable-card" id="card_on_transaction">
                                    <div class="card-header @product.GetTableHeaderClassString(_repository, _userManager.GetUserAsync(User).Result)" id="card_on_transaction_header">
                                        <h5 style="font-weight:300">@product.Type</h5>
                                    </div>
                                    @{ product.NonTradableMode = true; }
                                    <partial name="~/Views/Product/_ProductImageCarouselPartial.cshtml" model='@new ProductImageCarouselViewModel(product, "catalog-comp", carouselIndex: product.ID)' />
                                    <partial name="~/Views/Product/_CardBodyPartial.cshtml" model="@product" />
                                    <partial name="~/Views/Product/_CardFooterPartial.cshtml" model="@product" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <h4 class="text-center">You have not bought anything yet!</h4>
            }

        }
        <hr />
        <a class="btn btn-primary mt-1" asp-controller="Catalog" asp-action="Catalog">Go to catalog</a>
    </div>
</div>
